<div id="qm_con_body"><div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">


<div style="margin: -15px; padding: 8vh 0 2vh;color: #a6aeb3; background-color: #f7f9fa; text-align: center; font-family:NotoSansHans-Regular,'Microsoft YaHei',Arial,sans-serif; -webkit-font-smoothing: antialiased;">
    <div style="width: 750px; max-width: 85%; margin: 0 auto; background-color: #fff; -webkit-box-shadow: 0 2px 16px 0 rgba(118,133,140,0.22);-moz-box-shadow: 0 2px 16px 0 rgba(118,133,140,0.22);box-shadow: 0 2px 16px 0 rgba(118,133,140,0.22);">
        <div style="padding: 50px 10%; text-align: left; font-size: 16px;line-height: 16px;"><a href= <%= url %> style="vertical-align: top;" target="_blank"><img height="14" src="javascript:;" style="width: 104px; height: 14px;" width="104px"> </a></div>
        

        <h1 style="margin:32px auto; max-width: 95%; color: #0e2026;">欢迎加入<%= title %></h1>

        <p style="width: 750px; max-width: 90%; margin: 32px auto;padding: 0;">在开始使用之前，请确认你的邮箱账号</p>
        

        <div><a href= <%= url %> style="display: inline-block;
    margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid #0e2026; white-space: nowrap; padding: 7px 0; font-size: 16px; line-height: 2; border-radius: 3px; min-width: 128px; color: #fff; background-color: #0e2026; -webkit-user-select: none; -moz-user-select: none; user-select: none; outline: none; text-decoration: none;" target="_blank">确认账号 </a></div>
        

        <div style="width: 500px; max-width: 90%;margin: 110px auto; font-size: 14px;">
            <div style="margin: 8px 0;">如果按钮无效，请将以下链接复制到浏览器地址栏完成激活。</div>

            <div><a href= <%= url %> style=" word-break: break-all" target="_blank">  <%= url %> </a></div>
        </div>
        

        
    </div>
    
<style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style></div></div>