<div class="modal fade"   id="modal-profile">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">快速登记</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*条形码:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.husbandryNo}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>id:</h4>
                        </div>
                        <div class="section">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="subtitle">
                            <h4>业务类型:</h4>
                        </div>
                        <div class="section">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="subtitle">
                            <h4>取件方式:</h4>
                        </div>
                        <div class="section">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <div class="title">
                    <h4>犬主登记</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*犬主姓名:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.name}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>手机号码:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.phone}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>犬主座机:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.tel}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>性别:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.sex}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*证件类型:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.certificateType}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*证件号:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.certificateCode}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*所属区县:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.province}}{{DogLicenseModel.owner.district}}{{DogLicenseModel.owner.city}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*详细地址:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.address}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>邮编:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.owner.code}}</span>
                        </div>
                    </div>
                </div>

                <div class="title top">
                    <h4>犬只登记</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>犬名:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.nickname}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*性别:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.sex}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*虹膜id:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.irisID}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*毛色:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.hairColor}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>用途:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.usage}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <img src="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*品种:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.breed}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>出生日期:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.dog.bornDate}}</span>
                        </div>
                    </div>
                </div>

                <div class="title top">
                    <h4>免疫登记</h4>
                </div>
                <table class="immune_table"  border="1" bordercolor="black"  cellspacing="0" cellpadding="15">
                    <tr class="immune_tr" align="center">
                        <td class="left_td">疫苗名称</td>
                        <td class="left_td">疫苗批号</td>
                        <td class="middle_td">生产厂商</td>
                        <td class="middle_td">免疫点名称</td>
                        <td class="right_td">操作人</td>
                        <td class="right_td">免疫时间</td>
                    </tr>
                    <tr class="immune_tr" align="center">
                        <td class="left_td">{{DogLicenseModel.dog.vaccine.name}}</td>
                        <td class="left_td">{{DogLicenseModel.dog.vaccine.batchNo}}</td>
                        <td class="middle_td">{{DogLicenseModel.dog.vaccine.manufacturer}}</td>
                        <td class="middle_td">{{DogLicenseModel.dog.vaccine.veterinarianName}}</td>
                        <td class="right_td">{{DogLicenseModel.dog.vaccine.organizationName}}</td>
                        <td class="right_td">{{DogLicenseModel.dog.vaccine.name}}</td>
                    </tr>
                </table>

                <div class="title top">
                    <h4>户籍登记<span class="huji">(如需办理养犬登记证请填写如下内容)</span></h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>是否绝育:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.residence.isSterilization}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>产权性质:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.residence.houseProperty}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*房产证号:</h4>
                        </div>
                        <div class="section">
                            {{DogLicenseModel.residence.houseNo}}<span></span>房地<span></span>字<span></span>第<span></span>号
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="subtitle">
                            <h4>*登记地址:</h4>
                        </div>
                        <div class="section">
                            <span>{{DogLicenseModel.residence.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-close" class="btn btn-primary" data-dismiss="modal">重新编辑</button>
                <button type="button"  class="btn btn-primary">制卡</button>
                <button type="button"  class="btn btn-primary">补卡</button>
                <button type="button" id="save_and_ccard" class="btn btn-primary">保存并制卡</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
