<div class="print_card">

    <div class="title_nav">
        <h3>办理狗证/个人办证/打印磁卡</h3>
    </div>

    <div class="content">
        <div class="title">
            <div class="row">
                <div class="col-md-4">
                    <div class="subtitle">
                        <h3>电子卡</h3>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="subtitle">
                        <h3>微信二维码</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card_front">
                    <img src="img/card_front.png"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card_behind">
                    <img src="img/card_behind.png"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="qrcode">
                    <img src="img/qrcode.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="title">
            <h3>免疫卡信息</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>*养犬人姓名:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.name}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>免疫证号:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.cardNo}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>住址:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.addresses}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>所属区县:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.district}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬品种:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.breed}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>毛色:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.hairColor}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>免疫时间:</h4>
                </div>
                <div class="section">
                    <!--循环-->
                    <span>{{dogLicense.vaccineCard.info.annualDate.[0]}}</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>虹膜标志:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.irisID}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4></h4>
                </div>
                <div class="section">
                    <img src="img/iris.png"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>签发单位：</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.signOrganization}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>初识发证日期：</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.vaccineCreate}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btnBlueE btn-block infoBtn" id="immune_print">打印磁卡</button>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btnBlueE btn-block infoBtn" id="immune_check">年审</button>
            </div>
        </div>
    </div>

    <div class="content" id="dogcard_info">
        <div class="title">
            <h3>狗证信息</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>养犬人姓名:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.name}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>登记证号:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.cardNo}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>住址:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.addresses}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>所属区县:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.district}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>犬品种:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.breed}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>毛色:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.hairColor}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>年审时间:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.signCretate}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>虹膜标志:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.irisID}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <div class="codetip">
                        <span>环线内</span>
                        <span>已绝育</span>
                    </div>
                </div>
                <div class="section">
                    <img src="img/iris.png"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>签发单位:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.signOrganization}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="subtitle">
                    <h4>初识发证日期:</h4>
                </div>
                <div class="section">
                    <span>{{dogLicense.vaccineCard.info.vaccineCreate}}</span>
                </div>
            </div>
        </div>
        <div class="title">
            <h3>操作：取证方式</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="take">
                    <input type="radio" name="way"/>
                    <label>自取</label>
                </div>
                <div id="mailing">
                    <input type="radio" name="way"/>
                    <label>邮寄房产证地址</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btnBlueE btn-block infoBtn" id="dogcard_save">保存</button>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btnBlueE btn-block infoBtn" id="dogcard_check">年审</button>
            </div>
        </div>
    </div>

    <div class="content" id="dogcard_no">
        <div class="title">
            <h3>狗证信息</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top: 150px;margin-bottom: 150px;">
                <button class="btn btnBlueE btn-block infoBtn" id="dogcard_to_house">未填写户籍信息，去填写</button>
            </div>
        </div>
    </div>

</div>